<!DOCTYPE html>
<html ng-app="createActv">
  <head>
    <% include head %>
    <script src="/js/createController.js"></script>
  </head>
  <body>
    <!-- Template -->   
    <div ng-controller="CreateController">
      <input type="text" ng-model="title" placeholder="{{ items.title }}"><br> 
      <input type="text" ng-model="where" placeholder="{{ items.where }}"><br> 
      <input type="text" ng-model="when" placeholder="{{ items.when }}"><br> 
      <input type="text" ng-model="limits" placeholder="{{ items.limits }}"><br> 
      <input type="text" ng-model="descr" placeholder="{{ items.descr }}"><br> 
      <a href="/attend/<%= OpenId %>/<%= ActId %>"><button ng-click="create()">create activity</button></a>
    </div>
    <ng-view></ng-view>

    <script type="text/ng-template" id="/activity.html">
      <h1>activity is created! Share to your friends NOW!</h1>
      </div>
    </script>
  </body>
</html>


<!--
  <form action="actvs?openid=<%= OpenId %>&actid=<%= ActId %>" method="post"> 
-->
