  <body>
      <a href="/actvs/hosted/<%= OpenId %>"><button>hosted activities</button></a>
      <a href="/actvs/accepted/<%= OpenId %>"><button>accepted activities</button></a>
      <a href="/actvs/favored/<%= OpenId %>"><button>favored activities</button></a>
  </body>
